body{
    padding:50px 0;
}
.list-group-item a {
    color:#4a4a4a;
}
.list-group-item a.active {
    color:#1a6efd;
}
.product-count{
    margin-left:5px;
}
.text-green{
    color:#00d80b;
}
.text-red{
    color:#ff0000;
}
.badge.link{
    text-decoration:none;
}
.badge.link:hover{
    color:#fff;
    opacity:0.6;
}